*, *:before, *:after
  box-sizing border-box

html
  font-size: 16px

body
  // 跨平台适应的字体族
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  // 字体清晰度设置，只作用于 OSX 下高分屏
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background #F6F7F8
  color $color-deep-grey
  margin 0
  padding 0

img
  vertical-align top
  user-select: none
  -webkit-user-drag: none

table,
thead,
th,
tr,
td,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
  padding: 0

input,
button,
textarea
  outline: 0
li
  list-style none

a
  text-decoration none

// 解决 Font Boosting 问题
p
  max-height: 100%